@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

* {

	box-sizing: border-box;
}

body {
	overflow: hidden;
	margin: 0;
	font-family: 'Source Code Pro', monospace;
	background-color: CornflowerBlue;
}

#ui {
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #000000EE;
	transition: opacity 0.5s;
	color: white;
	padding-top: 25vh;
}

#ui.hide {
	opacity: 0;
}

#connect {
	margin: auto;
	background: #00000055;
	border-radius: 2px;
	padding: 15px;
	width: 500px;
	overflow: hidden;
}

label, #connect p {
	font-size: 15px;
	margin: 0;
	display: block;
}

input, #colours {
	font-family: inherit;
	cursor: pointer;
	display: block;
	width: 100%;
	margin: 5px 0;
	border-radius: 2px;
	background: #33333333;
	border: 1px solid #00000033;
	padding: 5px 10px;
	transition: background-color 0.25s;
	color: white;
}

input:hover {
	background: #333333EE;
}

input:focus {
	background: #FFF;
	outline: none;
	color: black;
}

#colours {
	display: flex;
}

#colours input {
	position: absolute;
	top: -100px;
}

#colours label {
	width: 50px;
	height: 25px;
	margin: auto 5px;
	border-radius: 3px;
	border: 2px solid #000;
	cursor: pointer;
}

div input:checked~label {
	border: 2px solid #AAA !important;
}

#mid {
	display: none;
	width: 2px;
	height: 2px;
	background-color: purple;
	position: fixed;
	left: calc(50vw - 1px);
	top: calc(50vh - 1px);
}

button {
	outline: none;
	border: none;
}

#minimap-border.small #minimap {
	position: relative;
	top: 0;
	left: 0;
}

#minimap-border.big #minimap {
	padding: 5px;
	width: 100%;
	height: 100%;
}

#game-ui {
	display: none;
}

#minimap-border {
	background: #000E;
	margin: 5px;
	position: fixed;
	z-index: 2;
	top: 0;
}

#minimap-border.small {
	overflow: hidden;
	width: 300px;
	height: 300px;
}

#minimap-border.big {
	width: calc(100vw - 315px);
	height: calc(100vh - 10px);
	left: 305px;
}

#fullscreen-minimap-toggle {
	cursor: pointer;
	width: 30px;
	font-size: 18px;
	color: white;
	height: 30px;
	background: #000E;
	position: fixed;
	z-index: 2;
	top: 305px;
	left: 0;
	margin: 5px;
}

#flashlight-toggle {
	cursor: pointer;
	width: 30px;
	font-size: 18px;
	color: white;
	height: 30px;
	background: #000E;
	position: fixed;
	z-index: 2;
	top: 305px;
	left: 35px;
	margin: 5px;
}

#info {
	width: 230px;
	height: 30px;
	background: #000E;
	position: fixed;
	z-index: 2;
	top: 305px;
	left: 70px;
	margin: 5px;
	padding: 5px;
	color: white;
}

